@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
    font-family: "Martian Mono", monospace;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161616;
    background-image: url(/images/mainPage_Background.jpg);
    background-size: cover;
    filter: brightness(0.7);
    z-index: -1;
}

.menuDIV {
    position: absolute;
    align-items: center;
    right: 0;
    bottom: 170%;
    border-radius: 15px;
}

.menuIMG {
    width: 50px;
}

.menuBUTTON {
    position: absolute;
    display: flex;
    align-items: center;
    top: -70px;
    right: -90px;
    font-size: 24px;
    color: #ffffff;
    border: none;
    padding: 5px;
    padding-left: 2px;
    border-radius: 15px;
    background: linear-gradient(45deg, #332f2f, #161616);
    transition: 0.15s;
}

.menuBUTTON:hover {
    border-bottom: 3px solid #ff6464;  
}

.menuIMG{
    color: #ff6464;
}

.dropdownMenuItems:hover {
    color: #ff6464;
}

.menuBUTTON {
    position: fixed;
    display: flex;
    align-items: center;
    right: 30px;
    top: 25px;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 5px;
    padding-left: 2px;
    border-radius: 15px;
    background: linear-gradient(45deg, #332f2f, #161616);
    transition: 0.15s;
}

.menuBUTTON:hover {
    border-bottom: 3px solid #ff6464;
}

/* Connected with .menuBUTTON this part is controlling dropdown menu */
.dropdownMenuDIV {
    position: fixed;
    display: none; 
    padding: 10px 5px;
    right: 20px;
    top: 100px;
    background: linear-gradient(45deg, #332f2f, #161616);
    border-radius: 15px;
    gap: 10px;
    transition: 0.15s;
}

.dropdownMenuItems {
    font-size: 20px;
    padding: 7px;
    color: #e9e9e9;
    text-decoration: none; 
    border-radius: 4px;
    transition: 0.25s;
    display: none;
}

.dropdownMenuItems:hover {
    color: #ff6464;
}


@keyframes smootherAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.dropdownMenuDIV.dropdownButton-clicked {
    animation: smootherAnimation 0.2s linear;
    transition: opacity 0.2s ease-in-out, display 0.2s ease;
    display: block;
}

.dropdownMenuDIV.dropdownButton-clicked a {
    display: block;
}

.postDIV {
    position: relative;
    display: table;
    width: 1400px;
    margin: 15px;
    right: 120px;
    height: 150px;
    left: 0px;
}

.postBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 206px;
    background-color: #903737;
    border-radius: 30px;
    filter: opacity(0.8) brightness(0.9);
}

.postCardDIV {
    position: relative;
    display: grid;
    color: #e9e9e9;
    background-color: #0e0707;
    width: 99%;
    height: 200px;
    top: 3px;
    left: 7px;
    border-radius: 30px;
}

/* Containings of cardDIV */

.titlePARAGRAPH {
    position: relative;
    font-size: 20px;
    text-align: center;
    bottom: 58px;
    max-width: 100%;
}

.containmentPARAGRAPH {
    position: relative;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 180px;
    bottom: 73px;
    width: 1160px;
    height: 80px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.suggestedLevelOfEnglishSMALL {
    position: relative;
    bottom: 103px;
    left: 1180px;
    width: 180px;
}

.authorOfAPost {
    position: relative;
    text-align: left;
    top: 145px;
    left: 17px;
    width: 170px;
}

.userAvatar {
    position: absolute;
    width: 150px;
    left: 8px;
    top: 10px;
    border-radius: 25px;
}
