@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
	font-family: "Martian Mono", monospace;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: black;
    background-image: url(/images/wallpaperForMySite.jpg);
    background-size: 160%;
    filter: brightness(0.45);
	z-index: -1;
}

.colorable:hover {
	animation: animate 3s infinite;	
  }
  @keyframes animate {

	0% {
        box-shadow: 0 0 30px gray;
    }
    50% {
        box-shadow: 0 0 30px black;
    }
	100% {
        box-shadow: 0 0 30px gray;
    }
  }

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 95vh;
}

.wrapper {
	
	width: 450px;
	height: 480px;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 0 0 25px gray;
	border-radius: 25px;
	backdrop-filter: blur(50px);
}


#loginMainHeader {
	text-align: center;
	margin: 35px;
	color: rgb(255, 255, 255);
}


#loginButton {
	position: absolute;
	bottom: 15%;
	width: 400px;
	height: 60px;
	font-size: 25px;
	border-radius: 22px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #ffffff;
}

#loginButton:active {
	transform: translateY(5px);
	background-color: rgb(218, 218, 218);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


#loginButtonDIV {
	display: flex;
	justify-content: center;
}


.Input {
	position: relative;
	margin: 20px;
	border-bottom: 3px solid white;

}

.Input input{
	width: 389px;
	height: 40px;
	font-size: 16px;
	color: white;
	padding: 0 10px;
	background: transparent;
	border: none;
	outline: none;
}

.Input label {
	position: absolute;
	transform: translateY(-50%);
	left: 15px;
	top: 12px;
	font-size: 18px;
	color: #fff;
	pointer-events: none;
	transition: .3s;
}

.Input input:focus~label,
.Input input:valid~label {
	top: -5px;
}

#registerLinkDIV {
	position: relative;
	left: 10%;
	top: 125px;
}

.registerP {
	color: rgb(215, 215, 215);
}

.registerLink {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#forgotPasswordDIV {
	position: relative;
	left: 55%;
	top: 10px;
}

.forgotPasswordLink {
	color: #fff;
	text-decoration: none;
}

.loginICONS {
	position: absolute;
	width: 30px;
    height: 30px;
	right: 1%;
}
