<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Creation</title>
    <link rel="stylesheet" type="text/css" href="/css/generic.css">
    <link rel="stylesheet" type="text/css" href="/css/createPosts.css">
    <script src="/js/dropDownBUTTON.js"></script>
    <script src="/js/displayLevelsButton.js"></script>
</head>
<body>
    <!-- (profile, login, home, logout) -->
    <div th:insert="~{Generic/dropdownMenu::dropdown(true, true, true, true, true)}"></div>

    <div class="background"></div> 
<form id="postForm" th:action="${'/profile/' + session.id + '/posts/create'}" method="post">
    <div class="postDIV">
        <div class="postBackground"></div>
        <div class="postCardDIV">
            <input name="title" class="title" placeholder="Post title" maxlength="65" required>
            <button name="suggestedLevelOfEnglishBUTTON" class="suggestedLevelOfEnglishBUTTON">Display levels</button>
            <div class="levelCheckboxesDIV">
                <label for="A0"><input type="checkbox" id="A0" name="suggestedLevelOfEnglish" value="A0">A0</label>
                <label for="A1"><input type="checkbox" id="A1" name="suggestedLevelOfEnglish" value="A1">A1</label>
                <label for="A2"><input type="checkbox" id="A2" name="suggestedLevelOfEnglish" value="A2">A2</label>
                <label for="B1"><input type="checkbox" id="B1" name="suggestedLevelOfEnglish" value="B1">B1</label>
                <label for="B2"><input type="checkbox" id="B2" name="suggestedLevelOfEnglish" value="B2">B2</label>
                <label for="C1"><input type="checkbox" id="C1" name="suggestedLevelOfEnglish" value="C1">C1</label>
                <label for="C2"><input type="checkbox" id="C2" name="suggestedLevelOfEnglish" value="C2">C2</label>
            </div>
            <textarea name="containment" id="containment" rows="18" cols="100" maxlength="15000" placeholder="Main text" required></textarea>
            <button type="submit" class="sendDataBUTTON">Push!</button>
        </div>
    </div>
</form>

</body>

</html>
