<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="/js/dropDownBUTTON.js"></script>
</head>
<body>
    <div class="background"></div> 

    <div th:each="post : ${posts}">
        <div class="postDIV">
            <div class="postBackground"></div>
            <div class="postCardDIV">
                <h5 class="authorOfAPost" th:utext="'by <br><br>' + ${user.username}"></h5>
                <p class="titlePARAGRAPH" th:text="${post.title}"></p>
                <small class="suggestedLevelOfEnglishSMALL" th:utext="'Suggested levels: <br>' + ${post.suggestedLevelOfEnglish}"></small>
                <p class="containmentPARAGRAPH" th:text="${post.containment}"></p>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <div class="menuDIV">
            <button class="menuBUTTON">
            <img class="menuIMG" src="/images/menu.png">Menu
        </div>
        <div class="dropdownMenuDIV">
            <a class="dropdownMenuItems" th:href="'/profile/' + ${session.id}" th:if="${session.id != null}">Profile</a>
            <a class="dropdownMenuItems" href="/login" th:if="${session.id == null}">Login</a>
            <a class="dropdownMenuItems" href="#">Settings</a>
        </div>
    </div>
</body>
</html>
