<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="css/login.css"/>
<head>
    <meta charset="UTF-8">
    <title>Login</title> 
</head>   

<body>
    <form th:action="@{/login}" method="post">
        <div class="background"></div> 
        <div class="wrapper colorable">
            
            <h1 id="loginMainHeader">Login</h1>

            <div class="Input" >
                <input type="text" required>
                <label>Email</label>
                <img class="loginICONS" src="/images/email.png">
            </div>

            <br>

            <div class="Input">
                <input type="password" required>
                <label>Password</label>
                <img class="loginICONS" src="/images/lock_closed.png">
            </div>

            <div id="loginButtonDIV">
                <button type="submit" id="loginButton">Login</button>
            </div>

            <div id="forgotPasswordDIV">
                <a class="forgotPasswordLink" href="#">Forgot password? </a>
            </div>

            <div id="registerLinkDIV">
                <p class="registerP">Don't have an account? <a class="registerLink" href="register">Register</a></p>
            </div>
        </div>
    </form>
</body>
</html>
