<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Posts</title>
    <link rel="stylesheet" type="text/css" href="/css/generic.css">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <script src="/js/dropDownBUTTON.js"></script>
</head>
<body>
    <!-- (profile, login, home, logout) -->
    <div th:insert="~{Generic/dropdownMenu::dropdown(true, true, true, false, true )}"></div>

    <div class="background"></div> 
    <div th:each="post : ${posts}">
        <div class="postDIV">
            <div class="postBackground"></div>
            <div class="postCardDIV">
                <img class="userAvatar" th:src="${'/' + session.id + '/image/userAvatar'}" alt="Ohh, no image">
                <p class="titlePARAGRAPH" th:text="${post.title}"></p>
                <small class="suggestedLevelOfEnglishSMALL" th:utext="'Suggested levels: <br>' + ${post.suggestedLevelOfEnglish}"></small>
                <p class="containmentPARAGRAPH" th:text="${post.containment}"></p>
            </div>
        </div>
    </div>
</body>
</html>
