<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Posts</title>
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <script src="/js/dropDownBUTTON.js"></script>
    <script src = "/js/following.js"></script>
</head>
<body>
    <div class="background"></div> 

    <div class="postDIV">
            <div class="postBackground"></div>

            <div class="postCardDIV">
            </div>
    </div>

    <div class="dropdown">
        <div class="menuDIV">
            <button class="menuBUTTON">
            <img class="menuIMG" src="/images/menu.png">Menu
        </div>
        <div class="dropdownMenuDIV">
            <a class="dropdownMenuItems" href="/home">Home</a>
            <a class="dropdownMenuItems" href="/settings">Settings</a>
        </div>
    </div>
</body>
</html>
