<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <script src="/js/dropDownBUTTON.js"></script>
    <script src = "/js/following.js"></script>
</head>
<body>
    <!-- (profile, login, home, logout) -->
    <div th:insert="~{Generic/dropdownMenu::dropdown(false, true, true, true, true)}"></div>

    <div class="background"></div> 
    <div class="profileDIV">
        <div class="profileBackground"></div>
        <div class="profileCardDIV">
            <form th:action="${'/' + session.id + '/upload'}" method="post" enctype="multipart/form-data">
                <button class="profilePictureBUTTON" type="submit">Upload avatar</button>
                <input id="profilePictureINPUT" name="profilePicture" type="file" draggable="true">
            </form>
            <img class="userAvatar" th:src="${avatarByID}">
            <span class="levelOfEnglishSPAN">
                <p class="levelOfEnglish">
                    Level: <span th:text="${session.levelOfEnglish}"></span>
                </p>
            </span> 

            <a class="createPosts" th:if="${session.id == userID}" th:href="${'/' + session.id + '/create'}">Create post</a>

            <span class="viewPostsSPAN">
                <a class="viewPosts" th:href="${'/' + session.id + '/posts'}">View posts</a>
            </span>
            <button class="followBUTTON">Follow</button>     
        </div>
    </div>
</body>
</html>
