<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/src/main/frontend/src/css/generic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/main/frontend/src/css/profile.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="/src/main/frontend/src/js/dropDownBUTTON.js"></script>
    <script src = "/src/main/frontend/src/js/following.js"></script>
    <script src="/src/main/frontend/src/js/cropper.js"></script>
</head>
<body>
    <!-- (profile, login, home, logout) -->
    <div th:insert="~{Generic/dropdownMenu::dropdown(false, true, true, true, true)}"></div>

    <div class="background"></div> 
    <div class="profileDIV">
        <div class="profileBackground"></div>
        <div class="profileCardDIV">
            <div th:if="${session.id == userID}">
                <form th:action="${'/' + session.id + '/upload'}" method="post" enctype="multipart/form-data">
                    <button class="profilePictureUpload" type="submit">Upload avatar</button>
                    <input id="profilePictureINPUT" name="profilePicture" type="file" draggable="true">
                </form>
            </div>
            <img class="userAvatar" th:src="${avatarByID}">
            <span class="levelOfEnglishSPAN">
                <p class="levelOfEnglish">
                    Level: <span th:text="${session.levelOfEnglish}"></span>
                </p>
            </span> 

            <a class="createPosts" th:if="${session.id == userID}" th:href="${'/' + session.id + '/create'}">Create post</a>

            <span class="viewPostsSPAN">
                <a class="viewPosts" th:href="${'/' + session.id + '/posts'}">View posts</a>
            </span>
            <button class="followBUTTON">Follow</button>     
        </div>
    </div>

    <!-- Cropping Modal -->
    <div id="cropModal" style="display: none;">
        <div id="cropCanvas"></div>
        <button id="cropButton">Crop and Save</button>
    </div>
</body>
</html>
