<div th:fragment="dropdown">
    <div class="menuDIV">
        <button class="menuBUTTON">
        <img class="menuIMG" src="/images/menu.png">Menu
    </div>
    <div class="dropdownMenuDIV">
        <a class="dropdownMenuItems" th:href="'/profile/' + ${session.id}" th:if="${session.id != null}">Profile</a>
        <a class="dropdownMenuItems" href="/login" th:if="${session.id == null}">Login</a>
        <a class="dropdownMenuItems" href="/home">Home</a>
        <a class="dropdownMenuItems" href="/logout">Logout</a>
    </div>
</div>
